@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}

body.bodyblock {
  overflow: hidden;
}

a:link,
a:visited {
  color: #000;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover,
a:active,
a:focus {
  color: #555;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.container.sp-wide {
  padding: 0;
}

.container.middle {
  max-width: 800px;
}

#siteBody.block {
  height: 100vh;
  overflow: hidden;
}

@media screen and (min-width: 1040px) {
  .container {
    padding: 0;
  }
}

.section {
  padding: 40px 0;
}

@media screen and (min-width: 769px) {
  .section {
    padding: 60px 0;
  }
}

/*--------------------------------------------------------------
## mainVisual
--------------------------------------------------------------*/
#mainVisual {
  background-size: auto 160%;
  width: 100%;
  padding: 80px 0;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../image/default/mv.jpg);
}

#mainVisual .innner {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#mainVisual h1 {
  margin: 0;
  max-width: 600px;
}

#mainVisual .mv_description {
  text-align: center;
  line-height: 2;
  font-weight: 700;
  font-size: 3.8vw;
}

@media screen and (min-width: 769px) {
  #mainVisual {
    height: 100vh;
    padding: 0;
    background-attachment: fixed;
    position: relative;
  }
  #mainVisual .mv_description {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
## site-main
--------------------------------------------------------------*/
.site-main {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.site-main h1 {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0 0 40px;
  font-size: 26px;
  color: #EA8955;
}

.site-main h1 span {
  line-height: 2;
  font-size: 12px;
  display: block;
  color: #000;
}

.site-main h2 {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  margin: 0 0 40px;
}

.site-main h2 span {
  line-height: 2;
  font-size: 12px;
  display: block;
}

.site-main h3 {
  margin: 0 0 20px;
}

.site-main .section:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 769px) {
  .site-main h2 span {
    font-size: 14px;
  }
}

/*--------------------------------------------------------------
## top-update
--------------------------------------------------------------*/
#top-update {
  background-color: #EA8955;
  color: #fff;
  padding: 15px 0;
  font-size: 90%;
}

#top-update dl {
  margin: 0;
  padding: 0;
}

#top-update dl dt {
  font-weight: 400;
  margin-bottom: 5px;
}

#top-update dl dd {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#top-update dl dd .category_name {
  display: inline-block;
  margin-right: 15px;
  border: 1px solid #fff;
  padding: 2px 15px;
}

#top-update dl dd a {
  color: #fff;
}

@media screen and (min-width: 769px) {
  #top-update {
    padding: 25px 0;
  }
  #top-update dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #top-update dl dt {
    margin-right: 15px;
  }
}

/*--------------------------------------------------------------
## genre
--------------------------------------------------------------*/
#genre {
  background-color: rgba(234, 154, 96, 0.15);
}

.genreThum {
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 90%;
  font-weight: 700;
}

.genreThum img {
  border: 2px solid #fff;
}

.genreThum a {
  color: #000;
  text-decoration: none;
}

/*--------------------------------------------------------------
## menu
--------------------------------------------------------------*/
#menu .container {
  padding: 0;
}

#menu .menuBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ccc;
  text-decoration: none;
  position: relative;
}

#menu .menuBox .menuThum {
  width: 120px;
  height: 120px;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  position: relative;
}

#menu .menuBox .menuThum img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  max-width: inherit;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

#menu .menuBox .menuDetail {
  width: calc(100% - 135px);
}

#menu .menuBox h3 {
  margin: 0 0 5px;
  line-height: 1.4;
}

#menu .menuBox::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 2px #EA8955;
  border-right: solid 2px #EA8955;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -5px;
}

.tag {
  font-size: 80%;
}

.tag span,
.tag a {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 0 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  text-decoration: none;
}

.tag span.menu_delivery,
.tag a.menu_delivery {
  background-color: #EA8955;
}

.tag.menuPage {
  text-align: center;
  margin-bottom: 15px;
  font-size: 100%;
}

@media screen and (min-width: 769px) {
  #menu .container {
    margin-bottom: 60px;
  }
  #menu .menuBox {
    display: block;
    padding: 0;
    border-top: none;
  }
  #menu .menuBox .menuThum {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  #menu .menuBox .menuThum img {
    width: 100%;
    max-width: inherit;
    height: auto;
    position: inherit;
    top: 0;
    left: 0;
    -webkit-transform: inherit;
            transform: inherit;
  }
  #menu .menuBox .menuDetail {
    width: 100%;
  }
  #menu .menuBox h3 {
    margin: 0 0 5px;
    line-height: 1.4;
    font-size: 18px;
  }
  #menu .menuBox::after {
    content: none;
  }
}

#footer-guide {
  background-size: auto 100%;
  width: 100%;
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center top;
  color: #fff;
  text-align: center;
  background-image: url(../image/default/footer.png);
}

@media screen and (min-width: 769px) {
  #footer-guide {
    margin-top: 60px;
  }
}

.footer-navigation ul {
  padding: 0;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-navigation ul li {
  list-style-type: none;
  width: 50%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #000;
}

.footer-navigation ul li:nth-child(2n) {
  border-left: 1px solid #000;
}

.footer-navigation ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-size: 80%;
}

@media screen and (min-width: 769px) {
  .footer-navigation {
    margin-top: 40px;
  }
  .footer-navigation ul {
    display: block;
    text-align: center;
  }
  .footer-navigation ul li {
    display: inline-block;
    width: auto;
    margin: 0 10px;
    border-bottom: none;
  }
  .footer-navigation ul li:nth-child(2n) {
    border-left: none;
  }
  .footer-navigation ul li a {
    padding: 0;
    font-size: 100%;
  }
}

.site-title {
  text-align: center;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.site-info {
  text-align: center;
  margin: 0 0 100px;
}

#fixedNav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  background-color: #E58653;
}

#fixedNav nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#fixedNav a {
  width: 33%;
  height: 80px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 3vw;
  border-right: 1px solid #995937;
}

#fixedNav a:last-child {
  border-right: none;
}

#fixedNav a .fixedNav-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
}

#fixedNav a .fixedNav-icon img {
  max-height: 100%;
}

.site-header {
  margin: 0 0 20px;
}

@media screen and (min-width: 769px) {
  .site-header {
    margin: 40px 0;
  }
  .site-header .site-title {
    max-width: 300px;
  }
}

#page-lyt {
  max-width: 800px;
}

#page-lyt h2 {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 40px;
}

#page-lyt h3 {
  color: #555;
  margin-top: 40px;
}

#page-lyt ul {
  margin: 15px;
}

.btn {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  padding: 25px 0;
  text-decoration: none;
}

.btn::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 23px;
  margin-top: -5px;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover::after {
  right: 13px;
}

.btn.orange {
  background-color: #EA8955;
  color: #fff;
}

.btn.orange::after {
  border-top: solid 2px #FFF;
  border-right: solid 2px #FFF;
}

.btn.orange:hover, .btn.orange:active, .btn.orange:focus {
  background-color: #D67F51;
}

.btn.black {
  background-color: #000;
  color: #fff;
}

.btn.black::after {
  border-top: solid 2px #FFF;
  border-right: solid 2px #FFF;
}

.btn.black:hover, .btn.black:active, .btn.black:focus {
  background-color: #333;
}

.btn.outline-white {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn.outline-white::after {
  border-top: solid 2px #FFF;
  border-right: solid 2px #FFF;
}

.btn.outline-orange {
  background-color: transparent;
  color: #EA8955;
  border: 1px solid #EA8955;
}

.btn.outline-orange::after {
  border-top: solid 2px #EA8955;
  border-right: solid 2px #EA8955;
}

@media screen and (min-width: 769px) {
  .btn {
    display: block;
    max-width: 300px;
    width: auto;
    margin: 0 auto;
    padding: 15px 0;
  }
}

.imgHover {
  position: relative;
}

.imgHover:hover, .imgHover:active, .imgHover:focus {
  opacity: .5;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col.sp-col-2 > * {
  width: 48%;
  margin-right: 4%;
}

.flex-col.sp-col-2 > *:nth-child(2n) {
  margin-right: 0;
}

.flex-col.sp-col-2 > *:nth-child(n + 3) {
  margin-top: 4%;
}

.flex-col.sp-col-1 > * {
  width: 100%;
}

@media screen and (min-width: 769px) {
  .flex-col.pc-col-3 > * {
    width: 30%;
    margin-right: 5%;
  }
  .flex-col.pc-col-3 > *:nth-child(3n) {
    margin-right: 0;
  }
  .flex-col.pc-col-3 > *:nth-child(n + 4) {
    margin-top: 5%;
  }
  .flex-col.pc-col-4 > * {
    width: 22%;
    margin-right: 4%;
  }
  .flex-col.pc-col-4 > *:nth-child(2n) {
    margin-right: 4%;
  }
  .flex-col.pc-col-4 > *:nth-child(n + 2) {
    margin-top: 0;
  }
  .flex-col.pc-col-4 > *:nth-child(4n) {
    margin-right: 0;
  }
  .flex-col.pc-col-4 > *:nth-child(n + 5) {
    margin-top: 4%;
  }
}

.pc {
  display: none;
}

@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
  .pc {
    display: block;
  }
}

.shop-image {
  line-height: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  background-color: #efefef;
  white-space: nowrap;
}

table th,
table td {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

table.data {
  font-size: 80%;
  margin-bottom: 0;
}

table.data th {
  background-color: rgba(234, 154, 96, 0.15);
}

table.data th,
table.data td {
  border-color: #F0E5DF;
}

table.data a {
  color: #B88430;
}

.tel-link {
  background-image: url(../image/default/tel.png);
  width: 11px;
  height: 14px;
  background-size: 11px 14px;
  background-repeat: no-repeat;
  background-position: 0 center;
  padding-left: 15px;
  font-weight: 700;
  font-size: 160%;
}

#pageDetail h2 {
  margin: 0;
  padding: 10px;
  text-align: left;
  background-color: #EA8955;
  color: #fff;
  font-size: 18px;
}

.chage {
  font-size: 200%;
  padding: 5px 0;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.request {
  margin: 20px 0 40px;
}

.shop-image {
  text-align: center;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.shopBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #ccc;
  text-decoration: none;
  position: relative;
}

.shopBox .shopThum {
  width: 120px;
  height: 120px;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.shopBox .shopThum img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  max-width: inherit;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.shopBox .shopDetail {
  width: calc(100% - 135px);
}

.shopBox h3 {
  margin: 0 0 5px;
  line-height: 1.4;
}

.shopBox::after {
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 2px #EA8955;
  border-right: solid 2px #EA8955;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 13px;
  margin-top: -5px;
}

@media screen and (min-width: 769px) {
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 40px;
  }
  .col-left {
    width: 70%;
    padding-right: 20px;
    float: left;
  }
  .col-right {
    width: 30%;
    padding-left: 20px;
    float: right;
  }
  .site-main h1 {
    font-size: 36px;
    color: #EA8955;
  }
  .site-main h1 span {
    font-size: 16px;
  }
  table th,
  table td {
    padding: 15px;
    border: 1px solid #ccc;
  }
  table.data {
    font-size: 100%;
    margin-bottom: 40px;
  }
  table.data th,
  table.data td {
    border: 1px solid #F0E5DF;
  }
  .shop-image {
    margin-bottom: 40px;
  }
  #pageDetail h2 {
    margin: 0 0 20px;
    padding: 10px;
    text-align: left;
    background-color: #EA8955;
    color: #fff;
    font-size: 18px;
  }
  .shopBox {
    border: 1px solid #ccc;
  }
  .shopBox .shopThum {
    width: 30%;
    height: auto;
  }
  .shopBox .shopThum img {
    width: 100%;
    max-width: inherit;
    height: auto;
    position: inherit;
    top: 0;
    left: 0;
    -webkit-transform: inherit;
            transform: inherit;
  }
  .shopBox .shopDetail {
    width: 65%;
  }
  .shopBox h3 {
    margin: 0 0 5px;
    line-height: 1.4;
    font-size: 18px;
  }
  .shopBox::after {
    content: none;
  }
}

.qr {
  text-align: center;
}

#shopList {
  margin-bottom: 40px;
}

@media screen and (min-width: 769px) {
  #shopList {
    margin-bottom: 60px;
  }
}

#spHead {
  background-color: #EA8955;
  height: 50px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#spHead .back {
  display: block;
  color: #fff;
  height: 50px;
  position: relative;
  width: calc(100% - 100px);
  padding-left: 35px;
  text-decoration: none;
  background-repeat: no-repeat;
  border-right: 1px solid #F0E5DF;
  line-height: 50px;
}

#spHead .back::before {
  content: '';
  width: 10px;
  height: 10px;
  border: 0px;
  border-top: solid 2px #fff;
  border-left: solid 2px #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -5px;
}

#spHead .notify {
  height: 50px;
  width: 50px;
}

#spHead .notify label {
  display: block;
  overflow: hidden;
  color: #fff;
  position: relative;
  text-decoration: none;
  background-repeat: no-repeat;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-indent: 200%;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: #EA8955;
  border: none;
  border-right: 1px solid #F0E5DF;
  outline: none;
  cursor: pointer;
}

#spHead .notify label::before {
  content: '';
  background-image: url(../image/default/notify.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

#spHead .notify.hasnotify label::after {
  content: '';
  background-image: url(../image/default/notify-badge.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 15px 15px;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

#spHead .notify input {
  display: none;
}

#spHead .notify .notifyList {
  position: absolute;
  top: 50px;
  right: 0;
  width: 0;
  overflow: hidden;
  height: calc(100vh - 50px);
  z-index: 100;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

#spHead .notify .notifyList .nopost {
  padding: 20px;
}

#spHead .notify .notifyList ul {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  height: 100%;
}

#spHead .notify .notifyList ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

#spHead .notify .notifyList ul li:last-of-type {
  border-bottom: none;
}

#spHead .notify .notifyList ul li a {
  padding: 15px;
  display: block;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

#spHead .notify .notifyList ul li a .shopName {
  display: inline-block;
  margin-right: 5px;
  text-decoration: none;
}

#spHead .notify .notifyList ul li a .menuTitle {
  color: #B88430;
}

#spHead .notify .notifyList ul li a .notify-image {
  width: 20%;
}

#spHead .notify .notifyList ul li a .notify-detail {
  width: 75%;
}

#spHead .notify input:checked ~ .notifyList {
  width: 100vw;
  overflow-y: scroll;
}

#spHead .home {
  display: block;
  overflow: hidden;
  color: #fff;
  height: 50px;
  position: relative;
  width: 50px;
  text-decoration: none;
  background-repeat: no-repeat;
  line-height: 50px;
  text-indent: 100%;
}

#spHead .home::before {
  content: '';
  background-image: url(../image/default/home.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
}

/*Loading*/
#loading {
  width: 100vw;
  height: 100vh;
  background-color: #ea8955;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  position: relative;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin: 0 auto;
}

.pagination > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.pagination_prev,
.pagination_next {
  overflow: hidden;
  width: 60px;
  height: 60px;
  min-width: 60px;
}

.pagination_prev a,
.pagination_next a {
  display: block;
  overflow: hidden;
  width: 60px;
  min-width: 60px;
  height: 60px;
  background: url("../image/default/pagenation-arrow.svg") center center no-repeat #EA9A60;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 110%;
  background-size: 20px 20px;
}

html:not(.is-touchDevice) .pagination_prev a,
html:not(.is-touchDevice) .pagination_next a {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

html:not(.is-touchDevice) .pagination_prev a:hover,
html:not(.is-touchDevice) .pagination_next a:hover {
  background-color: #D67F51;
}

.pagination_prev {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.pagination_select {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
  text-align: center;
}

html:not(.is-touchDevice) .pagination_select:hover .pagination_label {
  background-color: rgba(234, 154, 96, 0.15);
}

.pagination_select select {
  z-index: 1;
  margin: 0;
  border-radius: 0;
  width: 100%;
  height: 60px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  text-indent: -100%;
}

.pagination_select select::-ms-expand {
  display: none;
}

.pagination_label {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 28px 0 10px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: #EA9A60;
  border-top: 1px solid #EA9A60;
  background-color: #FFF;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html:not(.is-touchDevice) .pagination_label {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.pagination_label::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  line-height: 1;
  width: 0;
  height: 0;
  padding: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #EA9A60;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  pointer-events: none;
}

.pagination_return {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: inline-block;
  max-width: 190px;
  text-align: center;
}

.pagination_return a {
  display: block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border: 1px solid #94a7c1;
  text-decoration: none;
  color: #444 !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

html:not(.is-touchDevice) .pagination_return a {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

html:not(.is-touchDevice) .pagination_return a:hover {
  background-color: #eef5ff;
}

@media screen and (min-width: 769px) {
  .pagination {
    margin-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pagination_select {
    -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;
    width: 300px;
  }
  .pagination_select select {
    z-index: 1;
    margin: 0;
    border-radius: 0;
    width: 300px;
    height: 60px;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    font-size: 1.6rem;
    text-align: center;
    cursor: pointer;
    text-indent: -100%;
  }
  .pagination_select select::-ms-expand {
    display: none;
  }
  .pagination_label {
    position: absolute;
    pointer-events: none;
    z-index: 0;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 28px 0 10px;
    width: 300px;
    height: 60px;
    line-height: 60px;
    color: #EA9A60;
    border: 1px solid #EA9A60;
    background-color: #FFF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

/*フォーム*/
.form-group {
  position: relative;
  width: 100%;
  margin: 20px 0;
}

.form-group input {
  width: 100%;
  letter-spacing: 1px;
  padding-left: 10px;
}

.form-group input.wpcf7-validates-as-required, .form-group input.required {
  background-color: #F2E2E2;
}

.form-group input:focus {
  outline: none;
}

.form-group small {
  line-height: 1.4;
}

.form-group label {
  display: none;
}

.form-group .fomrItem {
  height: 50px;
  border: none;
  border: 1px #EBD4D4 solid;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-group .fomrItem:focus {
  border: 2px #F58E8E solid;
  background-color: rgba(255, 0, 0, 0.1);
}

.form-group .fomrItem::-webkit-input-placeholder {
  padding-top: 3px;
}

.form-group .fomrItem:-ms-input-placeholder {
  padding-top: 3px;
}

.form-group .fomrItem::-ms-input-placeholder {
  padding-top: 3px;
}

.form-group .fomrItem::placeholder {
  padding-top: 3px;
}

.form-group .your-password input {
  ime-mode: disabled;
}

.submitBtn {
  margin-top: 40px;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
  border-radius: 0;
  font-size: 100%;
  line-height: inherit;
  padding: inherit;
  outline: none;
  line-height: 50px;
}

button {
  font-size: 100%;
}

.errorMessage {
  color: #F47373;
  font-weight: bold;
  font-size: 90%;
  margin: 0;
}
/*# sourceMappingURL=theme.css.map */